:root {
  --workspace-bg: #f8fafc;
  --workspace-text: #0f172a;
  --card-bg: #ffffff;
  --card-border: #e2e8f0;
  --sidebar-width: 255px;
  --primary-color: #00BFFF;
  --sidebar-bg: #ffffff;
  --sidebar-text: #0f172a;
}

.dark {
  --workspace-bg: #020617;
  --workspace-text: #f8fafc;
  --card-bg: #0f172a;
  --card-border: #1e293b;
  --sidebar-bg: #020617;
  --sidebar-text: #f8fafc;
}

html, body {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--workspace-bg);
  color: var(--workspace-text);
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1e293b;
}